/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*
1. Vị trí
2. Kích thước (width , height)
3. Màu sắc
4. Kiểu dáng (Kiểu , hình tròn, vuông)
*/
:root {
    --hover_color : #ccc;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}
/* common */

.text-white {
    color: white!important;
}

.open {
    display: flex!important;
}

.text-center {
    text-align: center!important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}
.row::after {
    content: "";
    display: block;
    clear: both;
}
.clear {
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third {
    width: 33.3333%;
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.pull-right {
    float: right !important;
}

/* main */
#main{

}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    --header-size : 46.5px;
    height: var(--header-size);
    background-color: #000;
    color : #fff;
}

#nav {
    display: inline-block;
}

#nav li {
    display: inline-block;
    position: relative;
    font-size: 15px;
    font-family : Lato, sans-serif;
}

#nav .subnav {
    display: none;
    min-width: 160px;
    position: absolute;
    top:100%;
    /* lay dung chieu cao cua the cha chua no */
    left:0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav li:hover .subnav {
    display: block;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
}

#nav .subnav li 
{   
    display: block;
}

#nav .subnav li a {
    display: block;
    padding-left: 12px;
    line-height: 38.5px;
    color: black;
    background: white;
}

#nav li a {
    text-decoration: none;
    line-height: var(--header-size);
    padding: 0 24px;
}

#nav .subnav li:hover a,
#nav > li:hover > a 
 {
    color: black;
    background-color: var(--hover_color);
    
}

#header .search-btn {
    float: right;
    line-height: 46px;
    padding: 0 22px;
    font-size: small;
}
#header .search-btn:hover {
    cursor: pointer;
    color: #fff!important;
    background-color: #f44336!important ;
}

#slider {
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/chicago.jpg') top center / cover no-repeat;
    position: relative;
}

#slider .text-content {
    position: absolute;
    bottom : 47px;
    color: white;
    width: 100%;
    text-align: center;
}
#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}
#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
    font-weight: 600;
}

#content {
    height: 1000px;
}

#content .content-section{
    width: auto;
    padding: 74px 16px 112px;
    margin: 0px 19%;
    text-align: justify;
}
#content .section-heading{
    text-align: center;
    letter-spacing: 4px;
    font-weight: 500;
    text-transform: uppercase;
}
#content .section-sub-heading{
    margin-top: 25px;
    margin-bottom: 47px;
    text-align: center;
    font-style: italic;
    opacity: 0.5;
}
#content .section-about-text{
    line-height: 1.4;
}

#content .member-list {
    margin-top: 48px;
}


#content .member-name{
    margin-bottom: 24px;
    font-size: 15px;
}

#content .member-image{
    width: 60%;
    border-radius: 4px;
}

/* begin Tour section */
#tour{
    background-color: #000;
}

.ticket-list{
    margin: 40px 0px;
    background-color: #fff;
}

.ticket-list li {
    font-size: 15px;
    padding: 8px 16px;
    color: #757575;
    list-style: none;
    border-bottom: solid #ddd;
}

.ticket-list .sold-out{
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.ticket-list .quantity{
    background-color: #000;
    color: #fff;
    border-radius: 50%;
    float: right;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

/* begin Place section */
.place-list {
    margin-top: 32px;
    margin-bottom: 48px;
}  
.place-item{
    float: left;
    width: 33.3333%;
    padding: 0px 8px;
}
.place-content{
    background-color: #fff;
    font-size: 15px;
    padding: 15px;
    margin-top: -5px;
}
.place-img{
    width: 100%;
}
.place-img:hover{
    opacity: 0.6;
}
.place-heading{
    font-size: 15px;
}
.place-time{        
    margin-top: 15px;
    opacity: 0.5;
}
.place-desc{
    margin-top: 15px;
    line-height: 1.4;
}
.btn {
    display: block;
    margin-top: 11px;
    background-color: #000;
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
}
.btn:hover{
    opacity : 0.5;
}

/* end Place section */

/* end Tour section */

.modal {
    display: none;
    background-color:rgba(0, 0, 0, 0.3);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    align-items: center;
    justify-content: center;
}

.modal-header{
    font-size: 30px;
    width: 568px;
    text-align: center;
    background-color: #009688;
    color: #fff;
    padding: 50px 40px ;
}
.modal-header .fa-suitcase{
    margin-right: 16px;
}
.modal-container {
    background-color: #fff;
    position: relative;
    animation: modalFadeIn ease 0.5s;
}
.modal-body{
    padding: 15px;
}
.modal-label {
    display: block;
    margin-bottom: 10px;
}

.modal-input {
    margin-bottom: 26px;
    width: 100%;
    padding: 8px;
}

.modal-btn {
    width: 100%;
    padding: 15px;
    background-color: #009688;
    border: none;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    opacity: 0.85;
}

.modal-btn:hover{
    background-color: #f44336;
}

.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px;
    cursor: pointer;
    color: #fff;
}
.modal-close:hover{
    background-color: #f44336;
}
.modal-footer{
    text-align: right;
    margin: 15px;
    font-size: 15px;
}
.modal-footer a{
    color: #2196F3;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* begin Contact */
.contact-info {
    font-size: 18px;
    line-height: 1.5;

}
.contact-form {
    font-size: 15px;
}
.contact-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
}
.contact-send-btn{
    float: right;
    background-color: #000;
    color: #fff;
    padding: 8px 16px;

}
/* end Contact */
.map-section img {
    width: 100%;
}

#footer {
    padding: 45px;
    margin: 25px;
    text-align: center;
    color: #000!important;
}

#footer .socia-list i {
    line-height:24px ;
    color: #000!important;
}

#footer .socia-list i:hover {    
    opacity: 0.5;
}

#footer .socia-list a{
    color: #000;
}

#footer .copy-right {
    font-size: 15px;
    margin: 15px 0px;
}
